* {
  font-family: 'Karla', sans-serif;
  color: #495e57;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  padding: 0;
}

nav ul li a {
  text-transform: uppercase;
}

nav ul li a,
footer ul li a {
  text-decoration: none;
}

nav ul li a:hover,
footer ul li a:hover {
  text-decoration: underline;
}

.logo {
  max-height: 5vh;
}

.specials,
.testimonials,
.about,
footer {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
}

.specials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


footer {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  background-color: #f4ce14;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 10%;
}

.footer-logo {
  max-width: 100px;
  object-fit: contain;
  
}

footer ul {
  list-style-type: none;
  padding: 0;
  min-width: 50%;
  font-size: 16px;
}

.hero, 
.specials-header, 
.specials-list,
.testimonials-list,
.customer-details {
  display: flex;
}

.specials-list,
.testimonials-list {
  overflow-x: auto;
  gap: 30px;
}

.testimonials-list,
.specials-list {
  justify-content: space-between;
}

.hero {
  background-color: #495e57;
  justify-content: space-around;
  align-items: center;
  padding: 2% 5%;
}

.intro {
  max-width: 60%;
}

.intro h1 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  margin: 0;
}

.intro h3 {
  margin-top: 0;
  font-size: 18pt;
}

.intro p {
  font-size: 16pt;
  line-height: 1.5;
}

.button {
  height: 5vh;
  width: 15vw;
  border-radius: 16pt;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  line-height: 5vh;
}

.button:hover {
  background-color: #f4ce14;
  color: #000000;
  cursor: pointer;
}

.hero div h3,
.hero div p {
  color: #FFFFFF;
}

.hero div h1 {
  color: #f4ce14;
}

.customer-rating {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero img {
  max-height: 25vh;
  border-radius: 16pt;
}

.specials-header {
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.specials-header h3,
.testimonials h3 {
  font-size: 18pt;
  margin: 0;
}

.testimonials h3 {
  padding-bottom: 2.5%;
}

.special,
.testimonial {
  border: 1px solid #f4ce14;
  border-radius: 16px;
  padding-bottom: 10px;
  width: 15vw;
}

.special img {
  width: 15vw;
  height: 20vh;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #f4ce14;
  
}

.special-price {
  color: #f4ce14;
  text-shadow: 0.5px 0.5px 1px #495e57;
}

.special-price,
.special-title {
  margin: 0;
}

.special-description {
  height: 30vh;
}

.testimonial-details {
  height: 25vh;
}

.testimonial-details,
.special-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-description,
.testimonial-details {
  padding: 0 5% 5% 5%
}

.special-description a,
.testimonial-details a {
  text-decoration: none;
  font-weight: bold;
}

.intro a,
.specials a {
  text-decoration: none;
}


.special-description a:hover,
.testimonial-details a:hover {
  text-decoration: underline;
}

.specials-details {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  background-color: #495e57;
}

.customer-rating h4,
.testimonial-details p,
.testimonial-details a {
  color: #FFFFFF;
}

.testimonial img {
  max-width: 50%;
  object-fit: contain;
  border-radius: 16px 0;
  border-bottom: 1px solid #f4ce14;
  border-right: 1px solid #f4ce14;
}

.rating svg path {
  color: #f4ce14
}

.about {
  display: flex;
  gap: 5%;
}

.about-details h1 {
  font-size: 40pt;
  margin: 0;
}

.about-details h3 {
  font-size: 18pt;
  margin: 0;
}

.about-details p {
  font-size: 16pt;
  line-height: 1.5;
}

.about-photos {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.about-photos img {
  max-width: 100%;
  filter: drop-shadow(0px 0px 1px #000);
}

.about-photos img:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1
}

.about-photos img:last-of-type {
  grid-column: 2 / -1;
  grid-row: 1;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials-links {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.booking-page {
  display: flex;
  justify-content: space-around;
}

.booking-page img {
  max-width: 40vw;
  max-height: 50vw;
}

.booking-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-form-container h1,
.coming-soon h1,
.confirmation h1 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}

.booking-form {
  padding: 10%;
  min-width: 30vw;
  border: 1px solid black;
  border-radius: 16pt;
  justify-items: center;
}

.booking-form label {
  font-size: 16Zpt;
  font-weight: bold;
  text-align: center;
}

.booking-form input,
.booking-form select {
  min-height: 5vh;
  text-align: center;
  font-size: 12pt;
  width: 90%;
}

.booking-form .button {
  font-size: 10pt;
  min-width: 70%;
  border: none;
}

.coming-soon {
  min-height: 40vh;
  text-align: center;
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.confirmation h1 {
  text-align: center;
}

.confirmation p,
.confirmation a {
  text-align: center;
  font-size: 16pt;
  line-height: 1.5;
  
}


@media (max-width : 750px) {
  nav ul,
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    flex-direction: column;
  }

  nav ul {
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
  }

  .intro,
  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .intro p,
  .intro h1,
  .intro h3,
  .about h1,
  .about h3,
  .about p {
    text-align: center;
  }

  .booking-form {
    padding: 5%;
    min-width: 50vw;
  }

  .booking-form input,
  .booking-form select {
    width: 40vw;
  }

  .button,
  .booking-form .button {
    width: 40vw;
  }

  .booking-form-container {
    min-width: 100vw;
  }

  .special img {
    max-width: 100%;
    min-height: 20vh;

  }

  .special,
  .special img,
  .testimonial {
    min-width: 60vw;
  }
  
}