nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  padding: 0;
}

nav ul li a {
  text-transform: uppercase;
}

nav ul li a,
footer ul li a {
  text-decoration: none;
  color: #495e57;
}

nav ul li a:hover,
footer ul li a:hover {
  text-decoration: underline;
}


footer {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f4ce14;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-logo {
  max-width: 100px;
  object-fit: contain;
  
}

footer ul {
  list-style-type: none;
  padding: 0;
}
